{% extends "accounts/_auth_card.html" %}
{% block title %}Choose a new password{% endblock %}
{% block card %}
{% if validlink %}
<h2 style="font-size:1.1rem">Choose a new password</h2>
<form method="post" novalidate>
  {% csrf_token %}
  <div class="field"><label for="id_new_password1">New password</label><input class="input" type="password" name="new_password1" id="id_new_password1" autocomplete="new-password" required>{{ form.new_password1.errors }}</div>
  <div class="field"><label for="id_new_password2">Repeat it</label><input class="input" type="password" name="new_password2" id="id_new_password2" autocomplete="new-password" required>{{ form.new_password2.errors }}</div>
  <button class="btn btn--brand btn--block" type="submit">Save password</button>
</form>
{% else %}
<h2 class="h3" style="font-size:1.1rem">That link has expired</h2>
<p class="tiny muted">Reset links work once and last one day.</p>
<a class="btn btn--brand btn--block" href="{% url 'accounts:password_reset' %}">Send a new link</a>
{% endif %}
{% endblock %}
